{{ define "main" }}
<div class = "article-content">
        {{ if isset .Site.Params "description" }}
        <div class="description">
            <p>{{ .Site.Params.Description | markdownify }}</p>
        </div>
        {{ end }}
        <!-- Range over the pages and only include the ones that are a post type -->
        {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
        {{ range (.Paginate $pages).Pages }}
        <article href="{{ .Permalink }}">
            <h2>
                <a href="{{ .Permalink }}">
                    {{ .Title }}
                </a>
            </h2>

            <div>
                <p>{{ .Summary }}</p>
                {{ if (and (.Site.Params.showReadMore) (.Truncated)) }}
                <p><a href="{{ .RelPermalink }}">Read more...</a></p>
                {{ end }}
            </div>



            <div class="post-footer">
                <!-- Display series, if applicable -->
                {{if .Params.series}}
                    <div class="series">
                        <span class="in-the-series-of">
                            In the series of
                        </span>
                        <a href="/series/{{ .Params.series | urlize }}">{{.Params.series}}</a>
                    </div>
                {{ end }}

                <!-- Display tags -->
                {{if .Params.tags}}
                    {{ range .Params.tags }}
                        <a class="tag" href="/tags/{{ . | urlize }}">#{{.}}</a>
                    {{ end }}
                {{ end }}
                <br/>
                ⁠<time>{{ .Date.Format "January 2, 2006" }}{{if not .Lastmod.IsZero }}–⁠{{ .Lastmod.Format "January 2, 2006" }}{{end}}</time>

            </div> 
           
        </article>
        {{ end }}
    </div>
        <!-- Custom paginator -->
        <div class="paginator">
        {{ $paginator := .Paginator }}
        {{ if gt .Paginator.TotalPages 1 }}
        <p>Page {{ $paginator.PageNumber}} of {{ $paginator.TotalPages }}</p>
        <div class="paginator-group">
            {{ if $paginator.HasPrev }}
            <a href="{{ $paginator.Prev.URL | relLangURL }}">
                ←
                Newer
            </a>
            {{ end }}
            {{ if $paginator.HasNext }}
                <a class="older" href="{{ $paginator.Next.URL | relLangURL }}">
                    Older 
                    →
                </a>
            {{ end }}
        </div>
        {{ end }}
    </div>
{{ end }}
