@mixin media($for-tablet-up) {
    @media only screen and (min-width: $for-tablet-up) {
        @content;
    }
}

@media screen and (max-width: 512px) {
    nav {
        background-color: $extra-extra-light-gray;
        border-bottom: 1px solid $extra-light-gray;
    }
}

@media screen and (max-width: 768px) {
    .sidenote,
    .marginnote {
        width: 90%;
    }
}

@media screen and (min-width: 768px) {
    .sidenote,
    .marginnote {
        width: 220px;
        padding-left: 18px;
        padding-right: 18px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    html {
        max-width: 768px;
    }
}

@media screen and (min-width: 1024px) {
    html {
        max-width: 1024px;
    }

    // TOP NAV
    nav {
        background-color: white;
        position: fixed;
        height: 100%;
        top: 0;
        width: 220px;
        padding-left: 18px;
        padding-right: 18px;
    }

    .site-title {
        // 2.7 + 1.5(nav) = 4 + 0.2 for h1(which has the same font size)
        margin-top: 2.7rem;
        text-align: left;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;

    }

    .description {
        text-align: left;
        padding: 1.55em 0 0.5em 0;
        border-bottom: none;
        margin-bottom: 1rem;
        margin-top: 0rem;
    }

    // CONTENT
    .paginator {
        padding-bottom: 2rem;
    }

    .content-container {
        max-width: 512px;
        margin-left: 256px;
        padding: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .post-title {
        border-top: none;
        // padding-top: 0;
        // margin-top: 0.75rem;
    }

    // FOOTER
    .page-footer {
        border-bottom: none;
    }

    .footer {
        position: relative;
        visibility: visible;
        margin-top: 1rem;
        text-align: left;
    }

    .footer-mobile {
        visibility: hidden;
        height: 0rem;
        padding: 0rem;
        margin: 0rem;
        overflow: hidden;
    }

    .social-icons {
        width: 100%;
    }
}